name: CI-Flask URL Shortener

on: 
 push: 
    branches: [main]
 pull_request:
    branches: [main]


jobs:
  test:
     runs-on: ubuntu-latest
     
     steps:
        - name: checkout code
          uses: actions/checkout@v4

        - name: set up Python
          uses: actions/setup-python@v5
          with: 
             python-version: '3.10'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            pip install pytest flake8

        - name: Lint code
          run: |
            flake8 app.py

        - name: Run test
          run: |
            pytest   

        - name: Build Docker image
          run: docker build -t flask-url-shortener .
